*{margin: 0%;
padding: 0%;}
.more_btn {
    justify-content: center;
    align-items: center; 
    padding: 2% 47%; 
}
.more_btn button{ 
  background: linear-gradient(135deg, #bbbab4, #d2c9b7);
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.more_btn button:hover {
  transform: translateY(-3px);
}
.more_btn button:active {
  transform: translateY(0);
}
.new_launch{
    height: 700px;
    width: 100%;
    float: left;
}
.new_launch1{
    height: 700px;
    width: 50%;
    background-color: rgb(255, 196, 196);
    float: left;
}
.new_launch2{
    height: 700px;
    width: 50%;
    background-color: rgb(160, 149, 149);
    float: left;
}

.new_launch1 img,
.new_launch2 img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block; 
}